body { background-color:antiquewhite;

}
/* This CSS is for Typography*/
h1{
    font-size: 50px; color: paleturquoise; font-family: 'Bubblegum Sans', cursive;
}
h2 {
    font-size: 40px;
    color: pink;
    margin-bottom: 10px;
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 2px
}

p {
    line-height: 28px;
    font-size: 16px;
    font-family: 'Chewy', cursive;
}

.button-links{
    border-style:solid; 
    border-color:rgb(145, 4, 32);
    background-color:red;
    border-width:2px;
    text-decoration: "none";
    color:black;
    border-radius:15px 50px 30px 5px;
}